.top-bar{
    background-color: #202123;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 15px 0;
}

.create{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

.create:hover{
    background-color: #ececec;
}

.create i{
    padding: 0 5px;
}

.more i{
    color: white;
    margin: 0 20px;
}

#chevron{
    cursor: pointer;
}

.more{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more:hover{
    background-color: rgb(45, 45, 45);
}

.playgrounds-section{
    border: 1px solid rgb(236, 236, 236);
    border-radius: 30px;
    height: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title h3{
    margin: 20px 0 5px 20px;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.types h5{
    font-weight: 600;
}

.types .active, .types .archive{
    padding: 0 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.types .active:hover, .types .archive:hover{
    background-color: #f6f6f6;
}

.underline{
    background-color: rgb(165, 165, 165);
    width: 40px;
    height: 4px;
    border-radius: 40px;
}

.playgrounds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    margin: 20px;
}

.playground{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 0 10px 0;
    background-color: #ffffff;
    border: 1px solid silver;
    border-radius: 10px;
    width: 90%;
}

.playground:hover{
    background-color: rgb(247, 247, 247);
}


/* .popup-container */

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
}

.input-label {
    margin-bottom: 8px;
}

.input-field {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.submit-button:hover {
    background-color: #555;
}

#messageContainer {
    display: none;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    
    transform: translateX(-50%);
    z-index: 1000;
}

#ch-button{
    background-color: transparent;
    border: none;
    padding: 10px;
}