<%- include('partials/header') %>

    <div class="login-box">
        <!-- <img src="logo.png" class="logo"> -->
        <h2>register to Xchange</h2>
        <button><img src="/images/google.png">sign up with google</button>
        <hr>
        <span>Or</span>
        <form action="/register" method="post">
            <input type="text" placeholder="username" name="username" required autocomplete="off">
            <input type="email" placeholder="email" name="email" required autocomplete="off">
            <input type="password" placeholder="password" name="password" required autocomplete="off">
            <button type="submit">Submit</button>
        </form>
        <p style="text-align: center;">Already have an account? <a href="/login">Sign in</a></p>

    </div>
    <%- include('./partials/footer') %>